<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cn.lk.androidexp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ipc.service.binder.BinderServiceClientActivity"/>
        <activity android:name=".ipc.service.ServiceActivity"/>
        <activity android:name=".ipc.service.messenger.MessengerServiceClientActivity"/>

        <service android:name=".ipc.service.binder.BinderCountService"/>
        <service android:name=".ipc.service.messenger.MessengerCountService"/>
        <!--android:enabled="true" 是否可以被系统实例化-->
        <!--android:exported 是否能被其他应用隐式调用-->
        <!--android:process 运行在的进程-->
        <!--android:isolatedProcess 服务会在一个特殊的进程下运行，这个进程与系统其他进程分开且没有自己的权限。与其通信的唯一途径是通过服务的API(bind and start)-->
    </application>

</manifest>